<app-menu></app-menu>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Games list</div>
        <div class="horizontally-scrollable">
          <table class="table">
            <tr class="info">
              <th>Game</th>
              <th>State</th>
              <th>Created On</th>
              <th>Started On</th>
              <th>Ended On</th>
              <th>Created By</th>
              <th>Players</th>
            </tr>
            <tr *ngFor="let game of games">
              <td>{{game.gameTemplate.id}}</td>
              <td>{{game.state}}</td>
              <td>{{game.createdOn | date: 'd-M-y HH:mm:ss'}}</td>
              <td>{{game.startedOn | date: 'd-M-y HH:mm:ss'}}</td>
              <td>{{game.endedOn | date: 'd-M-y HH:mm:ss'}}</td>
              <td>{{game.createdBy.name}}</td>
              <td>{{game.players.length}} / {{game.maxPlayers}}</td>
              <td>
                <ul [hidden]="!game.hasActions" class="dropdown-menu">
                  <li [hidden]="! game.canLobby">
                    <a href="javascript:void(0)" (click)="play(game)">Go to Lobby</a>
                  </li>
                  <li [hidden]="!game.canJoin">
                    <a href="javascript:void(0)" (click)="join(game)">Join</a>
                  </li>
                  <li [hidden]="! game.canLeave">
                    <a href="javascript:void(0)" (click)="leave(game)">Leave</a>
                  </li>
                  <li [hidden]="!game.canStart">
                    <a href="javascript:void(0)" (click)="start(game)">Start</a>
                  </li>
                  <li [hidden]="!game.canPlay">
                    <a href="javascript:void(0)" (click)="play(game)">Play</a>
                  </li>
                  <li [hidden]="!game.canDelete">
                    <a href="javascript:void(0)" (click)="delete(game)">Delete</a>
                  </li>
                  <a href="javascript:void(0)" (click)="details(game)">Details</a>
                </ul>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
