Games list
<p>
  <button md-raised-button color="primary" routerLink="/games/open" routerLinkActive="active">Open games</button>
  <button md-raised-button color="primary" routerLink="/games/playing" routerLinkActive="active">Started games
  </button>
  <button md-raised-button color="primary" routerLink="/games/finished" routerLinkActive="active">Finished games
  </button>
  <button md-raised-button color="primary" routerLink="/games/mine" routerLinkActive="active">My games</button>
</p>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-2"
         *ngFor="let game of games | gameFilter : getStatus(): getUser()">
      <div class="panel panel-default"
           [style.background]="'url(assets/games/' + game.gameTemplate.id.toLowerCase() + '.jpg)'"
           [style.background-repeat]="'no-repeat'"
           [style.background-size]="'cover'">
        <div class="panel-heading header">
          <h4 class="text">{{game.gameTemplate.id}} - {{game.createdBy.name}}</h4>
          <h6 class="text">{{game.state}}</h6>
        </div>
        <div class="panel-body">
          <p> {{game.players.length}} / {{game.maxPlayers}}</p>
          <p>Created: {{game.createdOn | date: 'd-M-y HH:mm'}}</p>
          <p [hidden]="!game.startedOn">Started: {{game.startedOn | date: 'd-M-y HH:mm'}}</p>
          <p [hidden]="!game.endedOn">Ended: {{game.endedOn | date: 'd-M-y HH:mm'}}</p>
        </div>
        <div class="panel-footer" [hidden]="!game.hasActions">
          <button class="md-secondary" md-raised-button color="primary" *ngIf="game.canLobby" (click)="play(game)">Go
            to
            lobby
          </button>
          <button class="md-secondary" md-raised-button color="primary" *ngIf="game.canJoin" (click)="join(game)">Join
          </button>
          <button class="md-secondary" md-raised-button color="primary" *ngIf="game.canLeave" (click)="leave(game)">
            Leave
          </button>
          <button class="md-secondary" md-raised-button color="primary" *ngIf="game.canStart" (click)="start(game)">
            Start
          </button>
          <button class="md-secondary" md-raised-button color="primary" *ngIf="game.canPlay" (click)="play(game)">Play
          </button>
          <button class="md-secondary" md-raised-button color="primary" (click)="details(game)">Details</button>

          <div *ngIf="game.canDelete">
            <br>
            <button class="md-secondary" md-raised-button color="primary" (click)="delete(game)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




