<h1>New game</h1>
<div class="row">
  <form (ngSubmit)="onSubmit()" #createForm="ngForm">
    <div class="form-group">
      <label for="min-players">Minimum Players</label>
      <input type="number" class="form-control" name="minPlayers" id="min-players" min="2" required
             [(ngModel)]="model.minPlayers">
    </div>
    <div class="form-group">
      <label for="max-players">Maximum Players</label>
      <input type="number" class="form-control" id="max-players" name="maxPlayers" min="2" required
             [(ngModel)]="model.maxPlayers">
    </div>

    <div class="form-group">
      <label for="template">Template</label>
      <select class="form-control" id="template" name="template" required
              [(ngModel)]="model.gameTemplate.id" #template="ngModel">
        <option *ngFor="let template of gameTemplates | keys" [value]="template">{{template}}</option>
      </select>
    </div>
    <button type="submit" md-raised-button color="primary" [disabled]="!createForm.form.valid">Submit</button>
    <button type="button" class="btn btn-default" (click)="newGame();createForm.reset();">Reset</button>
  </form>


  <div *ngIf="gameTemplates[model.gameTemplate.id]; else elseBlock">
    <h3>Board Preview</h3>
    <app-board [tiles]="gameTemplates[model.gameTemplate.id].tiles">
    </app-board>
  </div>
  <ng-template #elseBlock>
    <h3>No board selected</h3>
  </ng-template>
</div>
