<menu></menu>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">New game</div>
        <div class="panel-body">
          <form (ngSubmit)="onSubmit()" #gameForm="ngForm">
            <div class="form-group">
              <label for="min-players">Minimum Players</label>
              <input type="number" class="form-control" name="minPlayers" id="min-players" min="1" max="32" required
                     onchange="document.getElementById('max-players').min=this.value;"
                     [(ngModel)]="model.minPlayers" #minPlayers="ngModel">
              <div [hidden]="minPlayers.valid || minPlayers.pristine" class="alert alert-danger">
                Minimum Players is required
              </div>
            </div>
            <div class="form-group">
              <label for="max-players">Maximum Players</label>
              <input type="number" class="form-control" id="max-players" name="maxPlayers" min="2" max="32" required
                     [(ngModel)]="model.maxPlayers" #maxPlayers="ngModel">
              <div [hidden]="maxPlayers.valid || maxPlayers.pristine" class="alert alert-danger">
                Maximum Players is required
              </div>
            </div>
            <div class="form-group">
              <label for="template">Template</label>
              <select class="form-control" id="template" name="template" required
                      [(ngModel)]="model.gameTemplate.id" #template="ngModel">
                <option *ngFor="let template of gameTemplates" [value]="template.id">{{template.id}}</option>
              </select>
              <div [hidden]="template.valid || template.pristine" class="alert alert-danger">
                Template is required
              </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!gameForm.form.valid">Submit</button>
            <button type="button" class="btn btn-default" (click)="newGame();gameForm.reset();">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
