<div *ngIf="game; else loading">
  <div class="panel-heading">Game board for {{game._id}}</div>

  <h1>Players</h1>
  <div class="row box">
    <div *ngFor="let player of game.players">
      <app-player [player]="player" [matches]="game.matches[player._id]"></app-player>
    </div>
  </div>

  <!-- Draw lobby -->
  <div *ngIf="game.state === 'open'">
    <h1>Lobby</h1>
    <app-board [tiles]="tiles">
    </app-board>
  </div>

  <!-- Draw board -->
  <div *ngIf="game.state === 'playing'">
    <h1>Board</h1>
    <button class="md-secondary" md-raised-button color="primary" (click)="getHint()">Hint
    </button>
    <app-board [tiles]="tiles" (onTileSelected)="onSelected($event)">
    </app-board>
  </div>

  <!-- Draw finished -->
  <div *ngIf="game.state === 'finished'">
    <h1>Game is finished!</h1>
  </div>
</div>

<ng-template #loading>
  <h3>Loading...</h3>
</ng-template>
