<h1>{{title}}</h1>
<button md-raised-button color="primary" routerLink="/games" routerLinkActive="active">Game list</button>
<button md-raised-button color="primary" routerLink="/games/create" routerLinkActive="active">Create Game</button>
<button md-raised-button color="primary" (click)="logout()">Log out</button>
<md-menu>  <!--#menu="mdMenu"-->
  <button md-menu-item (click)="setTheme('space-theme')">Default</button>
  <button md-menu-item (click)="setTheme('classic-theme')">Classic</button>
</md-menu>
<hr>
