// Define an alternate  theme.
$classic-primary: mat-palette($mat-brown);
$classic-accent: mat-palette($mat-brown);
$classic-theme: mat-light-theme($classic-primary, $classic-accent);
$classic-background-hover-color: rgba(255, 179, 0, .7);
$classic-background-image: url("assets/classic.png");
$classic-header-text-color: #f5f5f5;
$classic-container-background: rgba(255, 179, 0, .3);
$classic-color: #a84749;

// Include the default theme styles.
.classic-theme {
  @include angular-material-theme($classic-theme);
  @include pageLayout($classic-theme, $classic-background-image);

}
