<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div *ngIf="tiles">
          <svg width="1500" height="1000">
            <defs>
              <filter id="f3" x="0" y="0" width="200%" height="200%">
                <feOffset result="offOut" in="SourceAlpha" dx="5" dy="5" />
                <feGaussianBlur result="blurOut" in="offOut" stdDeviation="10" />
                <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
              </filter>
            </defs>
            <rect *ngFor="let tile of tiles | gameTileOrderBy;" [attr.x]="tile.getXPos()" [attr.y]="tile.getYPos()" [attr.style]="getColor(tile)" height="40" width="40" filter="url(#f3)"></rect>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>
